@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.flex_middle{
  display:flex;
  justify-content: center;
  align-items: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: sans-serif;
}
body,html{
  width: 100%;
  height: 100%;
  overflow:hidden;
  background-color: rgb(36, 10, 34);
}
/* logo and images =======================================================================================*/






.body{
  width: 100%;
  height: 200%;
  transition: all 2.8s;
  transition-timing-function: ease-in-out;
}
.body .head{
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fedcc8;
}
.body .head .images{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  font-size: 100%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: height,font-size;
}
.body .head .images .parallax{
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat:no-repeat;
}
.parallax_0{
  background-image: url("/image/layer_0.png");
  background-size:cover;
  background-position: center;
}
.parallax_1{
  background-image: url("/image/layer_1.png");
  background-size:cover;
  background-position: center;
}
.parallax_2{
  background-image: url("/image/layer_2.png");
  background-size:cover;
  background-position: center;
}
.parallax_3{
  background-image: url("/image/layer_3.png");
  background-size:cover;
  background-position: center;
}
.parallax_4{
  background-image: url("/image/layer_4.png");
  background-size:cover;
  background-position: center;
}
.parallax_5{
  background-image: url("/image/layer_5.png");
  background-size:cover;
  background-position: center;
}
.parallax_6{
  background-image: url("/image/layer_13.png");
  background-size:cover;
  background-position: center;
}
.body .head .images .svg_container{
  font-size: inherit;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
  display: flex;
  bottom: 8em;
  align-items: center;
  width: 42em;
  margin-left: -1.2em;
}
.body .head .images .svg_container .logo_svg:first-child{
  margin-right: 3.7em;
}
.body .head .images .svg_container .logo_svg .svg_text{
  stroke-width: 4px;
  stroke: white;
  fill: none;
  stroke-dasharray: 500 780;
  stroke-dashoffset: 600;
}
.body .head .images .svg_container .logo_svg .tower{
  fill: url('#grad2');
  stroke: url('#grad3');
  stroke-dasharray: 500 780;
  stroke-dashoffset: 600;
}
/* === animations =========================================================================================*/






.body .head .images .svg_container.ready .logo_svg .svg_text{
  stroke-dasharray: 500 780;
  stroke-dashoffset: 600;
  stroke: white;
  animation-name: stroke;
  animation-duration: 3.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.body .head .images .svg_container.ready .logo_svg .path1{
  animation-delay: 0.2s;
}
.body .head .images .svg_container.ready .logo_svg .path2{
  animation-delay: 0.25s;
}
.body .head .images .svg_container.ready .logo_svg .path3{
  animation-delay: 0.3s;
}
.body .head .images .svg_container.ready .logo_svg .path4{
  animation-delay: 0.35s;
}
.body .head .images .svg_container.ready .logo_svg .path5{
  animation-delay: 0.4s;
}
.body .head .images .svg_container.ready .logo_svg .tower{
  stroke-dasharray: 500 700;
  stroke-dashoffset: 600;
  stroke: url('#grad3');
  stroke-width: 4;
  animation-name: stroke_tower;
  animation-duration: 3.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.body .head .images .svg_container.ready .logo_svg .tower1{
  animation-delay: 0.2s;
}
.body .head .images .svg_container.ready .logo_svg .tower2{
  animation-delay: 0.25s;
}
.body .head .images .svg_container.ready .logo_svg .tower3{
  animation-delay: 0.3s;
}
.body .head .images .svg_container.ready .logo_svg .tower4{
  animation-delay: 0.35s;
}
.body .head .images .svg_container.ready .logo_svg .tower5{
  animation-delay: 0.4s;
}
.body .head .images .svg_container.ready .logo_svg #grad2 stop{
  stop-opacity:0;
  animation-name: opacity;
  animation-duration: 3.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes stroke{
  from{
    stroke-dasharray: 500 780;
    stroke-dashoffset: 600;
  }
  to{
    stroke-dasharray: 500 0;
    stroke-dashoffset: 200;
  }
}
@keyframes stroke_tower{
  0%{
    stroke-dasharray: 500 700;
    stroke-dashoffset: 600;
    stroke-width: 4;
  }
  50%{
    stroke-width: 3;
  }
  100%{
    stroke-width: 0;
    stroke-dasharray: 500 0;
    stroke-dashoffset: 200;
  }
}
@keyframes opacity{
  0%{
    stop-opacity:0;
  }
  50%{
    stop-opacity:0;
  }
  100%{
    stop-opacity:1;
  }
}
/*==the pines ===========================================================================================*/
.body .head .images .svg_container .pine1,.body .head .images .svg_container .pine2{
  position: absolute;
  transform-origin: bottom center;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
  margin-right: -0.5em;
  margin-top: -0.1em;
}
.body .head .images .svg_container .pine1{
  transform: rotate(30deg) scale(0);
  z-index: 3;
}
.body .head .images .svg_container .pine2{
  transform: rotate(60deg) scale(0);
  width: 1.8em;
  height: 1.8em;
}
.body .head .images .svg_container.ready .pine1{
  animation-name: pine_logo1;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 3.5s;
}
.body .head .images .svg_container.ready .pine2{
  animation-name: pine_logo2;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 3.7s;
}
@keyframes pine_logo1{
  from{
    transform: rotate(30deg) scale(0);
  }
  to{
    transform: rotate(30deg) scale(1);
  }
}
@keyframes pine_logo2{
  from{
    transform: rotate(60deg) scale(0);
  }
  to{
    transform: rotate(60deg) scale(1);
  }
}
/*== scroller ==================================================================================================*/





.body .head .scroller{
  border: 2px solid rgba(255, 255, 255,0.5);
  position: absolute;
  font-size: 100%;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%) scale(0);
  width: 1em;
  height: 2.3em;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  transition: transform 1s ease-in-out , border 0.2s ease-in-out;
}
.body .head .scroller.ready{
  transform: translateX(-50%) scale(1);
}
.body .head .scroller.unready{
  transform: translateX(-50%) scale(0);
}
.body .head .scroller:hover{
  border: 2px solid rgba(255, 255, 255,1);
  box-shadow: 0px 0px 1px 0px white;
}
.body .head .scroller .start{
  color: white;
  position: absolute;
  font-size: 0.8em;
  top: -0.5em;
  margin-top: -0.9em;
  transition: all 0.2s ease-in-out;
}
.body .head .scroller:hover .start{
  /* top: -0.75em; */
  text-shadow: 0px 0px 2px white;
}
.body .head .scroller .wheel{
  border: 1px solid white;
  width: 1px;
  height: 0.5em;
  margin-top: 5px;
  border-radius: 5px;
  transition: all 0.15s;
}
.body .head .scroller:hover .wheel{
  height: 0.9em;
  box-shadow: 0px 0px 1px 0px white;
}
@media only screen and (max-width: 600px) {
  .body .head .images{
    width: 100%;
    height: 50%;
  }
  .body .head .images{
    font-size: 50%;
  }
  .body .head .images .svg_container{
    bottom: 18em;
    margin-left: -0.5em;
  }
  .body .head .scroller{
    font-size: 180%;
  }
}
/*--topnav----------------------------------------------------------------------------------------------------*/









.body .head .top_link{
  /* border:1px solid black; */
  width: 300px;
  height: 60px;
  position: absolute;
  right: 11vw;
  top: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 100%;
}
.body .head .top_link .links{
  width: 3.75em;
  height: 3.75em;
  cursor: pointer;
  /* border: 1px solid black; */
  position: relative;
  overflow: hidden;
  font-size: inherit;
  opacity: 0;
  transform: translateY(-80%);
}
/*delay the animation for a wave effect*/
.body .head .top_link .links:nth-child(2){
  animation-delay: 0.2s;
}
.body .head .top_link .links:nth-child(3){
  animation-delay: 0.4s;
}
/*when the ready class is added to top_link add the animation*/
.body .head .top_link.ready .links{
  animation-name: down;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.body .head .top_link.unready .links{
  animation-name: up;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  opacity: 0;
  transform: translateY(-80%);
}
.body .head .top_link .links .fab{
  color: rgba(36, 10, 34,0.9);
  font-size: 1.4em;
  transition: all 0.15s;
}
.body .head .top_link .links .svg_line{
  /* border: 1px solid rgba(36, 10, 34,1); */
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
}
.body .head .top_link .links .svg_line .line{
  stroke-dasharray: 0 60;
  stroke-dashoffset: -30;
  transition: all 0.15s;
}
.body .head .top_link .links:hover .svg_line .line{
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.body .head .top_link .links:hover .fab{
  color: rgba(36, 10, 34,1);
  text-shadow: 0px 0px 1px rgba(36, 10, 34,1);
  transform: rotate(10deg) scale(1.1);
}
@media only screen and (max-width: 600px) {
  .body .head .top_link{
    width: 50px;
    height: 280px;
    top: 2vw;
    right: 3vw;
    flex-direction: column;
    font-size: 60%;
  }
  .body .head .top_link .links{
    transform: rotate(-90deg);
  }
  .body .head .top_link .links .fab{
    transform: rotate(0deg);
  }
  .body .head .top_link .links:hover .fab{
    transform: rotate(10deg) scale(1.1);
  }
}
@keyframes down {
  from{
    opacity: 0;
    transform: translateY(-80%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes up {
  from{
    opacity: 1;
    transform: translateY(0%);
  }
  to{
    opacity: 0;
    transform: translateY(-80%);
  }
}
/*==left-text ==============================================================================================*/








.left_text{
  font-size: 100%;
  width: 20em;
  height: 12.5em;
  position: absolute;
  top: 55vh;
  left: 10vw;
  transform: translateY(-80%) scale(0.4);
  opacity: 0;
  font-family: 'Poppins', sans-serif;
  transition: all 0.2s;
}
.left_text .header{
  width: 100%;
  height: 5.7em;
  font-size: inherit;
  /* font-family: 'Permanent Marker', cursive; */
}
.left_text .header h1{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.3em;
  text-transform: uppercase;
  color: rgba(36, 10, 34,0.9);
  text-shadow: 0px 0px 4px rgba(36, 10, 34,0.5);
  margin-right: 0.2em;
  margin-bottom: 0.06em;
}
.left_text .header .bold{
  font-family: 'Poppins', sans-serif;
  color: rgba(36, 10, 34,1);
  text-shadow: 0px 0px 4px rgba(36, 10, 34,0.6);
  position: relative;
  transition: all 0.1s;
}
.left_text .header .bold .svg_line{
  width: 100%;
  height: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 2px;
}
.left_text .header .bold .svg_line .line{
  stroke-dasharray: 0 180;
  stroke-dashoffset: -90;
  transition: all 0.15s;
}
.left_text .header .bold:hover .svg_line .line{
  stroke-dasharray: 180;
  stroke-dashoffset: 0;
}
.left_text .header .bold:nth-of-type(3) .svg_line .line{
  stroke-dasharray: 0 110;
  stroke-dashoffset: -55;
  transition: all 0.18s;
}
.left_text .header .bold:nth-of-type(3):hover .svg_line .line{
  stroke-dasharray: 110;
  stroke-dashoffset: 0;
}
.left_text .para{
  color: rgba(36, 10, 34,0.9);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1em;
  margin-top: 30px;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 22px;
  text-shadow: 0px 0px 4px rgba(36, 10, 34,0.5);
}
.left_text .para span{
  font-family: 'Poppins', sans-serif;
  color: rgba(36, 10, 34,1);
  text-shadow: 0px 0px 4px rgba(36, 10, 34,0.6);
}
.left_text .header .pine1{
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  margin-left: -1.4em;
  margin-top: -1.6em;
  transform: rotate(-15deg);
  z-index: 3;
  transition: all 0.5s;
}
.left_text .header .pine2 path{
  fill: url('#red');
  stroke-width: 0;
}
.left_text .header .pine2{
  position: absolute;
  top: 0;
  left: 0;
  width: 1.8em;
  height: 1.8em;
  margin-left: -1.4em;
  margin-top: -1.35em;
  transform: rotate(-55deg);
  z-index: 2;
  transition: all 0.7s;
}
.left_text .header .pine1 .pine_svg{
  width: 120%;
  height: 120%;
}
.left_text .header .pine2 .pine_svg{
  width: 120%;
  height: 120%;
}
.left_text .header .pine1:hover .pine_svg,.left_text .header .pine2:hover .pine_svg{
  animation-name: shrug;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
}
@keyframes shrug{
  0%{
    transform: rotate(0deg);
  }
  40%{
    transform: rotate(-6deg);
  }
  80%{
    transform: rotate(2deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
/*== animations =====================================================================================*/







.left_text.ready{
  animation-name: pop;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.left_text.ready .para{
  animation-name: pops;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  transform: scale(0.4);
  opacity: 0;
}
@keyframes pops{
  0%{
    transform: scale(0.4);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.left_text.ready .header .pine1{
  animation-name: grow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
  animation-delay: 1.4s;
  transform: rotate(-5deg) scale(0);
}
.left_text.ready .header .pine2{
  transform-origin: bottom center;
  animation-name: grow2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
  animation-delay: 1.6s;
  transform: rotate(-50deg) scale(0);
}
.left_text.unready .header .pine1{
  animation-name: ungrow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
}
.left_text.unready .header .pine2{
  transform-origin: bottom center;
  animation-name: ungrow2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
}
.left_text.unready {
  animation-name: unpop;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes pop{
  from{
    transform: translateY(-80%) scale(0.4);
    opacity: 0;
  }
  to{
    transform: translateY(-80%) scale(1);
    opacity: 1;
  }
}
@keyframes unpop{
  from{
    transform: translateY(-80%) scale(1);
    opacity: 1;
  }
  to{
    transform: translateY(-80%) scale(0.4);
    opacity: 0;
  }
}
@keyframes grow{
  from{
    transform: rotate(-10deg) scale(0);
  }
  to{
    transform: rotate(-10deg) scale(1)
  }
}
@keyframes grow2{
  from{
    transform: rotate(-50deg) scale(0);
  }
  to{
    transform: rotate(-50deg) scale(1);
  }
}
@keyframes ungrow{
  from{
    transform: rotate(-10deg) scale(1);
  }
  to{
    transform: rotate(-10deg) scale(0);
  }
}
@keyframes ungrow2{
  from{
    transform: rotate(-45deg) scale(1);
  }
  to{
    transform: rotate(-45deg) scale(0);
  }
}
@media only screen and (max-width: 600px) {
  .left_text{
    font-size: 80%;
    top: 25%;
    left: 10vw;
  }
}








































.catalog{
  position: relative;
  width: 100%;
  height: 100vh;
  background: rgb(36, 10, 34);
  font-size: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: none;
}
/* Handle on hover */
::-webkit-scrollbar-thumb {
  background: rgb(83, 23, 78);
  border-radius: 50px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 27, 91);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:active {
  background: rgb(117, 29, 110);
  border-radius: 50px;
}

.catalog .top_menu{
  /* border: 1px solid white; */
  position: sticky;
  top: 0;
  width: 100%;
  height: 7vw;
  min-height: 3.4em;
  max-height: 3.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}
.catalog .top_menu .scroll_up{
  border: 2px solid rgba(255, 255, 255,0.5);
  position: absolute;
  left: 50.2%;
  transform: translateX(-50%) scale(0);
  width: 1em;
  height: 2.4em;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  transition:border 0.2s ease-in-out,transform 0.8s ease-in-out;
}
.catalog .top_menu.ready .scroll_up{
  transform: translateX(-50%) scale(1);
}
.catalog .top_menu.unready .scroll_up{
  transform: translateX(-50%) scale(0);
}
.catalog .top_menu .scroll_up:hover{
  border: 2px solid rgba(255, 255, 255,1);
  box-shadow: 0px 0px 2px 0px white;
}
.catalog .top_menu .scroll_up .line{
  border: 1px solid white;
  width: 1px;
  height: 0.5em;
  border-radius: 5px;
  margin-bottom: 0.3em;
  transition: all 0.2s ease-in-out;
}
.catalog .top_menu .scroll_up:hover .line{
  height: 1em;
  box-shadow: 0px 0px 1px 0px white;
}

/*== logo ================================================================================*/




.catalog .top_menu .logo.ready .svg_container .logo_svg .svg_text{
  animation-name: stroke;
  animation-duration: 3.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.catalog .top_menu .logo.ready .svg_container .logo_svg .tower{
  animation-name: stroke_tower;
  animation-duration: 3.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.catalog .top_menu .logo.ready .svg_container .logo_svg #grad22 stop{
  stop-opacity:0;
  animation-name: opacity;
  animation-duration: 3.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes stroke{
  from{
    stroke-dasharray: 500 780;
    stroke-dashoffset: 600;
  }
  to{
    stroke-dasharray: 500 0;
    stroke-dashoffset: 200;
  }
}
@keyframes stroke_tower{
  0%{
    stroke-dasharray: 500 700;
    stroke-dashoffset: 600;
    stroke-width: 4;
  }
  50%{
    stroke-width: 3;
  }
  100%{
    stroke-width: 0;
    stroke-dasharray: 500 0;
    stroke-dashoffset: 200;
  }
}
@keyframes opacity{
  0%{
    stop-opacity:0;
  }
  50%{
    stop-opacity:0;
  }
  100%{
    stop-opacity:1;
  }
}






.catalog .top_menu .logo{
  width: 12.5em;
  height: 100%;
  position: relative;
  margin-left: 4em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.catalog .top_menu .logo .svg_container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 5;
  /* border: 1px solid green; */
  transition: all 0.2s ease-in-out;
}
.catalog .top_menu .logo .background{
  background: rgb(129, 23, 122);
  transition: all 0.3s ease-in-out;
  width: 105%;
  height: 100%;
  position: absolute;
  transform: scale(0);
  filter: blur(15px);
}
.catalog .top_menu .logo:hover .background{
  background: rgb(56, 14, 53);
  transform: scale(0.6);
}
.catalog .top_menu .logo .svg_container .logo_svg{
  height: 100%;
}
.catalog .top_menu .logo .svg_container .logo_svg:first-child .svg_text{
  /* fill: none;
  stroke-width: 6;
  stroke: white; */
  stroke-width: 6px;
  stroke: white;
  fill: none;
  stroke-dasharray: 500 780;
  stroke-dashoffset: 600;
}
.catalog .top_menu .logo .svg_container .logo_svg:first-child{
  margin-right: 0.4em;
}
.catalog .top_menu .logo .svg_container .logo_svg:nth-child(2) .tower{
  fill: url('#grad22');
  stroke: url('#grad33');
  stroke-dasharray: 500 780;
  stroke-dashoffset: 600;
  stroke-width: 4;
}

/*= pine animation ==========================================================================*/
.catalog .top_menu .logo .svg_container .pine1{
  position: absolute;
  width: 1em;
  height: 1em;
  right: 0;
  top: 0;
  margin-right: -0.45em;
  margin-top: 0.1em;
  transform-origin: bottom center;
  z-index: 2;
  transform: rotate(20deg) scale(0);
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 3s;
}
.catalog .top_menu .logo.ready .svg_container .pine1{
  transform: rotate(20deg) scale(1);
}
.catalog .top_menu .logo .svg_container .pine2{
  position: absolute;
  width: 0.8em;
  height: 0.8em;
  right: 0;
  top: 0;
  margin-right: -0.5em;
  margin-top: 0.2em;
  transform-origin: bottom center;
  transform: rotate(55deg) scale(0);
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 3s;
}
.catalog .top_menu .logo.ready .svg_container .pine2{
  transform: rotate(55deg) scale(1);
}



@media only screen and (max-width: 600px){
  .catalog .top_menu{
    font-size: 70%;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  .catalog .top_menu .logo{
    margin-left: 2em;
    width: 10em;
  }
}



/*=search========================================================================================*/




.catalog .top_menu .search{
  /* border: 1px solid white; */
  width: 25%;
  height: 100%;
  position: relative;
  margin-right: 3.5em;
}
.catalog .top_menu .search .search_box{
  border-radius: 15px;
  width: 80%;
  height: 2.4em;
  position: absolute;
  border: 2px solid rgba(255, 255, 255,0);
  box-shadow: 0px 0px 1px 0px rgba(255, 255, 255,0);
  padding: 0.79em;
  display: flex;
  align-items: center;
  transition:all 0.2s ease-in-out ;
}
.catalog .top_menu .search .search_box .background{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -0.79em;
  border-radius: 15px;
  background: rgb(56, 14, 53);
  transform: scale(0.6);
  transition: all 0.35s ease-in-out;
  filter: blur(6px);
}
.catalog .top_menu .search .search_box:focus-within .background{
  background: rgb(66, 16, 63);
  transform: scale(1);
  filter: blur(1px);
}
.catalog .top_menu .search .search_box:hover,.catalog .top_menu .search .search_box:focus-within{
  border: 2px solid rgb(255, 192, 119);
  box-shadow: 0px 0px 1px 0px rgba(255, 192, 119,0.9);
}
.catalog .top_menu .search .search_box .icon{
  /* border: 1px solid white; */
  position: absolute;
  right: 0.2em;
  width: 1.7em;
  height: 1.7em;
  color: rgba(255, 255, 255,0.5);
  cursor: pointer;
  transition:color 0.2s ease-in-out,text-shadow 0.2s ease-in-out,transform 0.8s ease-in-out,opacity 0.8s ease-in-out;
  z-index: 4;
  transform: translateX(100%);
  opacity: 0;
}
.catalog .top_menu.unready .search .search_box .icon{
  transform: translateX(100%);
  opacity: 0;
}
.catalog .top_menu.ready .search .search_box .icon{
  transform: translateX(0%);
  opacity: 1;
}
.catalog .top_menu .search .search_box .icon:hover{
  color: rgba(255, 255, 255,1);
  text-shadow: 0px 0px 2px rgba(255, 255, 255,0.8);
}
.catalog .top_menu .search .search_box #search{
  /* border: 1px solid white; */
  border: none;
  background: none;
  color: rgba(255, 255, 255,0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  padding-left: 0.6em;
  border-radius: 50px;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
.catalog .top_menu .search .search_box label{
  color: rgba(255, 236, 226, 0.8);
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0.6em;
  font-family: 'Poppins', sans-serif;
  pointer-events: none;
  transition:transform 0.8s ease-in-out,opacity 0.8s ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
}
.catalog .top_menu.unready .search .search_box label{
  transform: translateX(-100%);
  opacity: 0;
}
.catalog .top_menu.ready .search .search_box label{
  transform: translateX(0%);
  opacity: 1;
}
.catalog .top_menu .search .search_box #search:focus + label,
.catalog .top_menu .search .search_box #search:valid + label{
  display:none;
}

@media only screen and (max-width: 600px){
  .catalog .top_menu .search .search_box{
    width: 100%;
    height: 2.5em;
    position: absolute;
    border: 1px solid rgba(255, 255, 255,0);
  }
  .catalog .top_menu .search{
    width: 30%;
    margin-right: 2em;
  }
}



/*== leaft options ====================================================================== */



.catalog .top_menu .left_options{
  /* border: 1px solid white; */
  width: 5em;
  height: 100vh;
  position: absolute;
  top: 0em;
  left: 3.5em;
  flex-direction: column;
}
.catalog .top_menu .left_options .options{
  /* border: 1px solid white; */
  width: 100%;
  height: 5em;
  justify-content: flex-start;
  margin: 0.8em;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-100%);
  transition-property: transform,opacity;
  transition-duration: 0.8s,0.8s;
  transition-timing-function: ease-in-out,ease-in-out;
}
.catalog .top_menu.unready .left_options .options{
  opacity: 0;
  transform: translateX(-100%);
}
.catalog .top_menu.ready .left_options .options{
  opacity: 1;
  transform: translateX(-0%);
}
.catalog .top_menu .left_options .options:nth-child(1){transition-delay: 0.1s;}
.catalog .top_menu .left_options .options:nth-child(2){transition-delay: 0.2s;}
.catalog .top_menu .left_options .options:nth-child(3){transition-delay: 0.3s;}
.catalog .top_menu .left_options .options div{
  /* border: 1px solid white; */
  width: 3.5em;
  height: 3em;
  color: rgba(255, 255, 255,0.5);
  transition: all 0.2s ease-in-out;
  margin-left: -2px;
  position: absolute;
  z-index: 2;
}
.catalog .top_menu .left_options .options div i{
  z-index: 2;
}
.catalog .top_menu .left_options .options div .background{
  /* border: 1px solid white; */
  position: absolute;
  width: 90%;
  height: 100%;
  background: rgb(56, 14, 53);
  z-index: 1;
  filter: blur(3px);
  transform: scale(0);
  transition: all 0.35s ease-in-out;
  border-radius: 5px;
}
.catalog .top_menu .left_options .options.current div .background{
  transform: scale(0.9);
  filter: blur(2px);
  background: rgb(66, 16, 63);
}
.catalog .top_menu .left_options .options svg{
  /* border: 1px solid white; */
  position: absolute;
  left: -10px;
  width: 1.5em;
  height: 2em;
  z-index: 2;
}
.catalog .top_menu .left_options .options p{
  color: rgba(255, 255, 255,0.8);
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  left: 2.8em;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  z-index: 2;
}
.catalog .top_menu .left_options .options svg path{
  stroke: white;
  stroke-width: 5;
  stroke-dasharray: 0 40;
  stroke-dashoffset: -40;
  transition: all 0.2s ease-in-out;
  fill: none;
}
.catalog .top_menu .left_options .options.current svg path{
  stroke-dasharray: 80 50;
  stroke-dashoffset: 0;
}
.catalog .top_menu .left_options .options:hover div{
  color: rgba(255, 255, 255,0.8);
  text-shadow: 0px 0px 1px rgba(255, 255, 255,0.8);
}
.catalog .top_menu .left_options .options.current div{
  color: rgba(255, 255, 255,1);
  text-shadow: 0px 0px 1px white;
}
.catalog .top_menu .left_options .options.current p{
  color: rgb(255, 192, 119);
  text-shadow: 0px 0px 2px rgb(255, 192, 119);
  left: 3.5em;
  opacity: 1;
}
@media only screen and (max-width: 600px){
  .catalog .top_menu .left_options{
    width: 2em;
    height: 100vh;
    position: absolute;
    top: 0em;
    left: 2.2em;
    flex-direction: column;
  }
  .catalog .top_menu .left_options .options p{
    left: 2.1em;
    pointer-events: none;
  }
  .catalog .top_menu .left_options .options.current p{
    left: 2.5em;
  }
}





/*= bottom content ========================================================================*/





.catalog .bott_content{
  /* border: 1px solid white; */
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 100%;
  display: flex;
}
.catalog .bott_content .slider{
  /* border: 1px solid white; */
  max-height: 11em;
  max-width: 70em;
  width: 80vw;
  height: 40vw;
  position: absolute;
  right: 6em;
  top: 7.2em;
  overflow: hidden;
}
.catalog .bott_content .border{
  border-top: 2px solid rgba(255, 255, 255,0.7);
  position: absolute;
  max-height: 11em;
  max-width: 70em;
  width: 80vw;
  height: 40vw;
  position: absolute;
  right: 6em;
  top: 5em;
}
.catalog .bott_content .border h2{
  position: absolute;
  left: 2.5em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  color: rgb(255, 192, 119);
  background: rgb(36, 10, 34);
  display: inline-block;
  top: 0;
  left: 7%;
  transform: translateY(-54%);
  padding: 1px 6px 1px 6px;
  text-shadow: 0px 0px 2px rgb(255, 192, 119);
}
.catalog .bott_content .slider .left_butt{
  /* border: 1px solid white; */
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 1em;
  width: 3em;
  height: 3em;
  cursor: pointer;
  transform-origin: center center;
  z-index: 5;
}
.catalog .bott_content .slider .left_butt .fas{
  margin-right: 0.1em;
  font-size: 1.5em;
  color: white;
  transition: all 0.3s ease-in-out;
}
.catalog .bott_content .slider .left_butt:hover .fas{
  text-shadow: 0px 0px 2px white;
}
.catalog .bott_content .slider .right_butt .fas{
  margin-left: 0.15em;
  font-size: 1.5em;
  color: white;
  transition: all 0.3s ease-in-out;
}
.catalog .bott_content .slider .right_butt:hover .fas{
  text-shadow: 0px 0px 2px white;
}
.catalog .bott_content .slider .left_butt .circle{
  /* border: 1px solid white; */
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform:rotate(180deg);
  transform-origin: center center;
}
.catalog .bott_content .slider .left_butt .circle circle{
  fill: none;
  stroke: white;
  stroke-width: 2.5;
  stroke-dasharray: 0 160;
  stroke-dashoffset: 0;
  transition: all 0.4s ease-in-out;
}
.catalog .bott_content .slider .left_butt:hover .circle circle{
  stroke-dasharray: 80 0;
  stroke-dashoffset: 0;
}
.catalog .bott_content .slider .right_butt{
  /* border: 1px solid white; */
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
  width: 3em;
  height: 3em;
  cursor: pointer;
  z-index: 5;
}
.catalog .bott_content .slider .right_butt .circle{
  /* border: 1px solid white; */
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
}
.catalog .bott_content .slider .right_butt .circle circle{
  fill: none;
  stroke: white;
  stroke-width: 2.5;
  stroke-dasharray: 0 160;
  stroke-dashoffset: 0;
  transition: all 0.4s ease-in-out;
}
.catalog .bott_content .slider .right_butt:hover .circle circle{
  stroke-dasharray: 80 0;
  stroke-dashoffset: 0;
}




.catalog .bott_content .slider .left_gradient{
  /* border: 2px solid white; */
  left: -3px;
  position: absolute;
  width: 3.8em;
  height: 100%;
  top: 0;
  background: linear-gradient(90deg, rgba(36,10,34,1) 10%, rgba(255,255,255,0) 100%);
}
.catalog .bott_content .slider .right_gradient{
  /* border: 2px solid white; */
  right: -3px;
  position: absolute;
  width: 3.8em;
  height: 100%;
  top: 0;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(36,10,34,1) 90%);
}
.catalog .bott_content .slider .current_watch{
  /* border: 2px solid rgb(255, 14, 14); */
  margin-left: 2em;
  width: auto;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  transition: transform 0.4s ease-in-out;
}
.catalog .bott_content .slider .current_watch .ele{
  width: 8.5em;
  height: 95%;
  position: relative;
  bottom: 0;
  /* background: rgba(255, 255, 255,0.15); */
  border: 1px solid white;
  margin:1.1em;
}

@media only screen and (max-width: 600px){
  .catalog .bott_content .slider{
    font-size: 70%;
    top: 10em;
    right: 4.5em;
  }
  .catalog .bott_content .border{
    right: 3.5em;
    top: 5em;
  }
}


















.catalog .bott_content .movies{
  max-width: 70em;
  width: 88vw;
  height: auto;
  position: absolute;
  right: 4em;
  top: 23em;
  /* border: 1px solid greenyellow; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.catalog .bott_content .movies .border_movies{
  width: 102%;
  height: 1px;
  border: 1px solid rgba(255, 255, 255,0.7);
  position: absolute;
  top: -1.4em;
  right: 0em;
}
.catalog .bott_content .movies .border_movies h2{
  position: absolute;
  left: 2.5em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  color: rgb(255, 192, 119);
  background: rgb(36, 10, 34);
  display: inline-block;
  top: 0;
  left: 7%;
  transform: translateY(-54%);
  padding: 1px 6px 1px 6px;
  text-shadow: 0px 0px 2px rgb(255, 192, 119);
}
.catalog .bott_content .movies .movie{
  /* border: 1px solid white; */
  width: 14vw;
  margin: 1.15vw;
  height: 24.5vw;
  position: relative;
  cursor: pointer;
}
.catalog .bott_content .movies .movie .img_container{
  /* border: 1px solid white; */
  width: 102%;
  height: 78%;
  position: absolute;
  overflow: hidden;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1),
                0px 2px 2px 1px rgba(0,0,0,0.1),
                0px 3px 4px 2px rgba(0,0,0,0.1),
                0px 4px 6px 4px rgba(0,0,0,0.1),
                0px 5px 8px 8px rgba(0,0,0,0.1);
}
.catalog .bott_content .movies .movie .img_container img{
  width: 100%;
  height: auto;
  position: absolute;
}
.catalog .bott_content .movies .movie .img_container .overlay{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: all 0.25s ease-in-out;
  position: absolute;
  z-index: 10;
}
.catalog .bott_content .movies .movie:hover .img_container .overlay{
  background: rgba(0, 0, 0, 0.5);
}











@media only screen and (max-width: 600px){
  .catalog .bott_content{
    font-size: 80%;
  }
}






























































































































.body .movies .ele{
  width: 16.8vw;
  /* min-width: 18.4%; */
  /* max-width: 200px; */
  height: 22vw;
  background: rgba(100, 100, 100, 0.3);
  margin: 0.9vw;
  display:flex;
  /* border: 1px solid white; */
  position: relative;
  overflow: hidden;
}
.body .movies .ele .photo{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.2s;
}
.body .movies .ele .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  /* border: 1px solid coral; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: all 0.4s;
}
.body .movies .ele .overlay:hover{
  opacity: 1;
}
.body .ele .overlay .options{
  /* border: 1px solid white; */
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.body .ele .overlay .options i{
  color: white;
  font-size: 15px;
  transition: all 0.2s;
}
.body .ele .overlay .options:hover i{
  color: coral;
}
.body .movies .ele .title{
  position: absolute;
  /* border: 1px solid white; */
  bottom: 10%;
  color: white;
  cursor: pointer;
  font-size: 1.0em;
}
.body .movies .ele .open{
  min-width: 28px;
  min-height: 28px;
  width: 3.6vw;
  height: 3.6vw;
  /* border: 1px solid white; */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  text-decoration: none;
}
.body .movies .ele .open i{
  color: rgb(45, 17, 43);
  margin-left: 2px;
}
.body .movies .rating{
  min-width: 24px;
  min-height: 24px;
  width: 2.4vw;
  height: 2.4vw;
  border: 2px solid green;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  left: 15px;
  color: white;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  font-size: 15px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}
.body .movies .ele .genre {
  /* border: 1px solid white; */
  position: absolute;
  bottom: 3.5%;
  color: rgba(255, 127, 80,0.8);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.body .movies .ele .genre:hover{
  color: rgba(255, 127, 80,1);
}
.body .movies .ele .type{
  color: coral;
  position: absolute;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  right: 10px;
  top: 10px;
  font-size: 14px;
} 
.body .movies .ele .overlay .drop-down{
  position: absolute;
  width: 60px;
  height: 40px;
  right: 5px;
  top: 20px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
}
.body .movies .ele .overlay .drop-down.down{
  opacity: 1;
  pointer-events: all;
  top: 30px;
}
.body .movies .ele .overlay .drop-down .edit,.body .movies .ele .overlay .drop-down .favorite{
  width: 100%;
  height: 50%;
  /* border: 1px solid white; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10px;
  font-size: 12px;
  transition: all 0.1s;
  cursor: pointer;
}
.body .movies .ele .overlay .drop-down .edit:hover,.body .movies .ele .overlay .drop-down .favorite:hover{
  color: coral;
}
.body .movies .ele .overlay .drop-down .edit i,.body .movies .ele .overlay .drop-down .favorite i{
  font-size: 10px;
  margin-right: 5px;
}







.body .pop-up{
  /* border: 1px solid white; */
  position: absolute;
  width: 400px;
  height: 500px;
  top: 40px;
  z-index:10;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 20px;
  transition: all 0.15s;
}
.body .pop-up.up{
  opacity: 1;
  pointer-events: all;
}
.body .pop-up div{
  /* border: 1px solid white; */
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body .pop-up div:first-child{
  /* border: 1px solid white; */
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body .pop-up div .message{
  color: rgba(255, 127, 80,0);
  transition: all 0.1s;
}
.body .pop-up div .message.wrong{
  color: rgba(255, 127, 80,1);
}
.body .pop-up div .x{
  color: white;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-weight: 900;
}
.body .pop-up div .x:hover{
  color: coral;
}
.body .pop-up div input{
  outline: none;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 16px;
  padding: 5px;
  border-radius: 2px;
  width: 300px;
}
.body .pop-up div input:focus{
  border: 1px solid coral;
}
.body .pop-up div label{
  color: white;
  font-size: 16px;
  padding: 5px;
}
.body .pop-up div select{
  outline: none;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  font-size: 16px;
  padding: 4px;
  border-radius: 2px;
  width: 300px;
}
.body .pop-up div option{
  outline: none;
  background: rgba(0, 0, 0, 0.8);
  border: none;
  color: white;
  font-size: 16px;
  padding: 5px;
  border-radius: 2px;
  width: 300px;
}
.body .pop-up div:nth-of-type(6) label{
  padding: 2px;
}
.body .pop-up div button{
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
  width: 100px;
  padding: 10px;
  border-radius: 3px;
}
.body .pop-up div button:hover{
  border: 1px solid rgba(255, 127, 80,0.5);
  background: rgba(0, 0, 0, 0.8);
}
.body .pop-up div button:active{
  border: 1px solid rgba(255, 127, 80,1);
}
/* move the pop-up to the view when the user clicks the edit or add buttons */






/* ::-webkit-scrollbar {
 width: 8px;
 position: absolute;
 right: 10px;
 margin-right: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 138, 66,0.8);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 138, 66,0.9);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(255, 138, 66,1);
} */




















.debug {
  width: 45px;
  height: 45px;
  position: absolute;
  /* border: 1px solid white; */
  bottom:14px;
  left: calc(50% - 25px);
  cursor: pointer;
  z-index: 12;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  transition: all 0.16s;
}
.debug:hover {
  background: rgba(255,255,255, 0.1);
}
.debuger {
  width: 40px;
  height: 40px;
  position: absolute;
  /* border: 3px solid green; */
  top: 14px;
  left: calc(50% - 25px);
  cursor: pointer;
  z-index: 12;
  border-radius: 50%;
  animation-name: bouncer;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transition: all 0.16s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}
.debuger:hover {
  background: rgba(255, 255, 255, 0.1);
}

@keyframes bounce {
  from{transform: translateY(-18%);}
  to{transform: translateY(18%);}
}
@keyframes bouncer {
  from{transform: translateY(-18%);}
  to{transform: translateY(18%);}
}